*{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Arial; 
}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:6px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#32312e;
box-shadow:0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 5px;
background-color:#ffcb17;
box-shadow:0px 1px 1px #fff inset;
background-image:url('https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px
}

::-webkit-scrollbar{
width: 7px;
}

body, html{
	background: #f3f3f3;
}

.mask{
	top: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.80);
	display: none;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.wrap{
	display: flex;
}

.left{
	max-width: 220px;
	background: #272631;
	height: 100vh;
	flex: 1;
	overflow: auto;
}

.left__avatar{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

#inst{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px inset #ea5a5a;
	position: absolute;
	animation: spins 10s linear infinite;
}

.left__avatar img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid #ea5a5a;
	box-shadow: 0px 0px 10px #111;
}

@keyframes spins{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

.left__name{
	text-align: center;
	margin-top: 20px;
}

.left__name h3{
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
}

.left__files{
	text-align: center;
}

.left__files h4{
	color: #a3a2a8;
	font-size: 14px;
}

.left__upload{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 32px;
	display: flex;
	justify-content: center;
}

.left__upload button{
	background: #ea5a5a;
	border: none;
	border-radius: 8px;
	color: #FFF;
	width: 160px;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 0px 10px #111;
}

.left__search{
	background: #1e1d26;
	border-top: 2px solid #111;
	border-bottom: 2px solid #111;
	color: #444444;
	text-align: center;
}

.left__search input{
	background: none;
	border: none;
	margin: 20px 0px;
	color: #444444;
	width: 150px;
}

#search{
	background: url(../ico/search.png) no-repeat left center;
	background-size: 16px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 30px;
    color: #444444;
    /*float: right;*/
    font-size: 16px;
}

.nav-menu__title{
	color: #d6d5df;
	text-transform: uppercase;
	padding: 20px 30px;
	font-size: 14px;
	width: 100px;
}

.nav-menu__ul{
	width: 120px;
}

.nav-menu__ul li{
	display: block;
}

.nav-menu__ul a{
	text-decoration: none;
	color: #d6d5df;
	padding: 15px 50px;
	display: block;
}

.nav-menu__ul a:hover{
	background: #19181e;
}

.left__categories{
	background: #1e1d26;
	width: 220px;
}

.left__categories h3{
	color: #d6d5df;
	/*margin-left: 20px;*/
	text-transform: uppercase;
	font-size: 16px;
	padding: 20px 0px;
	text-align: center;
}

.left__categories li{
	display: block;
}

.left__categories a{
	text-decoration: none;
	color: #d6d5df;
	display: block;
	width: 220px;
	padding: 15px 0px;
	text-align: left;
}

.left__categories a:hover{
	background: #19181e;
}

.footer{
	background: #19181e;
	padding: 10px 0px;
	color: #d6d5df;
	font-size: 12px;
	text-align: center;
	border-top: 2px solid #111;
	max-width: 220px;
	position: fixed;
    left: 0;
    bottom: 0;
}

.footer__social{
	display: flex;
	justify-content: center;
}

.footer__social img{
	width: 30px;
	height: 30px;
}

header{
	background: #272631;
	padding: 10px;
	display: none;
	z-index: 5;
}

.main img{
	width: 30px;
	padding: 10px;
	cursor: pointer;
}

.center{
	flex: 1;
	padding: 0px 30px;
	background: #FFF;
	height: 100vh;
	overflow: auto;
}

.grid-menu{
	display: flex;
	/*justify-content: flex-end;*/
	margin-top: 10px;
}

.grid-left{
	flex: 0;
	display: none;
}

.grid-right{
	text-align: right;
}

#right{
	transform: rotate(180deg);
}

.grid-menu img{
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 10px;
}

.center__img{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box{
	width: 260px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

#date{
	background: url(../ico/date.png) no-repeat left center;
	background-size: 16px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 20px;
    color: #c0c0c0;
    /*float: right;*/
    font-size: 14px;
}

#dowload{
	background: url(../ico/dow.png) no-repeat left center;
	background-size: 16px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 20px;
    color: #c0c0c0;
    /*float: right;*/
    font-size: 14px;
}

#view{
	background: url(../ico/view.png) no-repeat left center;
	background-size: 16px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 20px;
    color: #c0c0c0;
    /*float: right;*/
    font-size: 14px;
}

.box{
	transition: 2s;
	padding: 10px;
	position: relative;
}

.box:hover{
	box-shadow: 0px 0px 20px #959595;
	transition: 1s;
}

.box span{
	padding: 10px 0px;
	display: block;
	color: #c0c0c0;
}

.box h3{
	display:inline-block;
    position:absolute;
    top:40%;
    left:32%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0px 0px 10px #111;
    width: 150px;
}

.des{
	display: inline-flex;
}

.center__img img{
	width: 260px;
	height: 173px;
	border-radius: 4px;
}

.center__view{
	text-align: center;
}

.center__view img{
	max-width: 900px;
	border-radius: 5px;
}

.center__view_descripsion{
	margin-top: 20px;
	font-size: 18px;
	color: #111;
}

.load{
	display: flex;
	justify-content: center;
}

.load button{
	width: 200px;
	padding: 10px;
	background: #ea5a5a;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0px 0px 6px #111;
}
























